<!DOCTYPE html>
<html>
<head>
  <title>Share CSV files online - PasteCSV</title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="description" content="PasteCSV is a quick and simple way for you to share CSV with others. Pastebin for CSV."/>

</head>
<body>

<div class="navbar navbar-inverse navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <a href="/">PasteCSV</a>
      </div>

    </div>
  </div>
</div>



<%= yield %>

<footer>
  <div class="container">
    <%= link_to "Upload CSV", root_path %>
    &middot;
    <%= link_to "About", about_path %>
  </div>
</footer>

<%= render 'shared/ga' if Rails.env.production? %>
</body>
</html>
